.section {
  position: relative;
  max-width: 1206px;
  margin: -190px auto 0;
  border-radius: 20px;
  display: flex;
  gap: 40px;
  border: 1px solid #ffffff38;
  background: linear-gradient(97deg, #0073791c 11.23%, #005f6400 115.9%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.section::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(180deg, #fff3, #dddcfc33 40.63%, #8f85ff33);
  border-radius: 20px;
  opacity: 0.2;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
