<div class="relative bg-[#191d1e] text-white">
  <!-- Decor -->
  <img
    alt=""
    src="/images/decor/decor-12.png"
    class="absolute left-0 top-[-180px] aspect-[1778/1972] w-[887px]" />
  <img
    alt=""
    src="/images/decor/decor-6.png"
    class="absolute left-[46%] top-[-100px] w-[60px] blur-[5px]" />
  <img
    alt=""
    src="/images/decor/decor-2.png"
    class="absolute right-[6%] top-[135px] w-[35px]" />
  <img
    alt=""
    src="/images/decor/decor-2.png"
    class="absolute right-[30%] top-[280px] w-[35px]" />

  <div class="e-container pb-[272px]">
    <section
      class="z-100 mx-auto flex max-w-[940px] items-center gap-5 px-2 font-lato md:flex-col-reverse md:gap-x-0">
      <div class="flex-1">
        <video
          src="https://videos.pexels.com/video-files/29808850/12805493_2560_1440_25fps.mp4"
          class="relative aspect-[1080/1860] max-w-[340px] rounded-[20px] bg-white shadow-[0_12px_32px_#00000082]"
          playsinline
          autoplay
          loop></video>
      </div>
      <div class="max-w-[440px]">
        <h2
          class="font-lexend text-[48px] font-medium leading-[120%] tracking-[-10px]">
          Không sợ quên kiến thức với
          <span class="text-gradient">Flashcards&nbsp;</span>
        </h2>
        <p class="my-5 text-base leading-6">
          Việc ghi nhớ không còn là vấn đề nữa. Flashcards là phương pháp ghi
          nhớ thông qua việc lặp lại, kiến thức trong khóa học sẽ được bạn ghi
          nhớ trong dài hạn.
        </p>
        <p class="my-5 text-base leading-6">
          Chỉ với chiếc điện thoại thông minh, giờ đây bạn có thể ôn lại kiến
          thức ở mọi lúc, mọi nơi.
        </p>
      </div>
    </section>
  </div>
</div>
