@font-face {
  font-family: 'Lexend Tera';
  src: url('LexendTera-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Lexend Tera';
  src: url('LexendTera-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Lexend Tera';
  src: url('LexendTera-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Lexend Tera';
  src: url('LexendTera-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Lexend Tera';
  src: url('LexendTera-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}
