<div class="relative bg-[#191d1e] text-white">
  <!-- Decor -->
  <img
    src="/images/decor/decor-15.png"
    class="absolute right-[2%] top-[15%] w-[54px]" />
  <img
    src="/images/decor/decor-16.png"
    class="absolute bottom-[-100px] left-[16px] w-[140px]" />

  <div class="e-container mt-[40px] pb-[180px] font-lato">
    <h2
      class="mx-auto max-w-[610px] text-center font-lexend text-[48px] font-medium leading-[120%] tracking-[-10px]">
      Tại sao nên học khóa học này?
    </h2>
    <div class="mx-auto mt-12 flex max-w-[1200px] gap-8 md:flex-col">
      <div
        class="bg-custom-gradient flex-1 rounded-3xl border border-[#ffffff38] p-6 backdrop-blur-[10px]">
        <h3
          class="mt-2 font-lexend text-2xl font-medium leading-[120%] tracking-[-5px]">
          Khác biệt khóa Free
        </h3>
        <ul class="mt-4 list-inside list-disc pl-[10px] text-base leading-[2]">
          <li>Khóa học <strong>đầy đủ và bài bản</strong> nhất</li>
          <li>Thực hành <strong>xây dựng dự án</strong> thực tế</li>
          <li><strong>200+</strong> bài học, <strong>200+</strong> bài tập</li>
          <li>Có <strong>đáp án</strong> cho mọi bài tập</li>
          <li><strong>Video chữa bài</strong> cho các bài tập</li>
          <li>Kênh hỏi đáp riêng học viên Pro</li>
          <li><strong>Đội ngũ hỗ trợ</strong> nhiệt tình</li>
        </ul>
      </div>
      <div
        class="bg-custom-gradient flex-1 rounded-3xl border border-[#ffffff38] p-6 backdrop-blur-[10px]">
        <h3
          class="mt-2 font-lexend text-2xl font-medium leading-[120%] tracking-[-5px]">
          Nền tảng hàng đầu
        </h3>
        <ul class="mt-4 list-inside list-disc pl-[10px] text-base leading-[2]">
          <li>Đa dạng loại hình học: Video, Quiz, Test</li>
          <li>Code song song cùng video với Dev Mode</li>
          <li>Chạy thử nghiệm ngay với Code Snippet</li>
          <li>Chức năng ghi chú Pro hỗ trợ Highlight</li>
          <li>Luôn giải thích thuật ngữ chuyên ngành</li>
          <li>Có rất nhiều tài liệu chi tiết dễ hiểu</li>
          <li>Dark/Light mode cho riêng khóa Pro</li>
        </ul>
      </div>
      <div
        class="bg-custom-gradient flex-1 rounded-3xl border border-[#ffffff38] p-6 backdrop-blur-[10px]">
        <h3
          class="mt-2 font-lexend text-2xl font-medium leading-[120%] tracking-[-5px]">
          Người "thầy" tâm huyết
        </h3>
        <ul class="mt-4 list-inside list-disc pl-[10px] text-base leading-[2]">
          <li>Bỏ ra <strong>1 năm</strong> xây dựng khóa học này</li>
          <li>Quay <strong>500+</strong> videos cho khóa này</li>
          <li>
            Soạn <strong>200+</strong> bài viết và <strong>300+</strong> bài tập
          </li>
          <li>Trả lời <strong>2000+</strong> hỏi đáp của học viên</li>
          <li>Miễn phí Figma DevMode cho học viên</li>
          <li>Rèn luyện giọng nói, kỹ năng giảng dạy</li>
          <li>Đầu tư trang thiết bị tốt để quay dựng</li>
        </ul>
      </div>
    </div>
  </div>
</div>
