<div class="relative bg-[#191d1e] text-white">
  <!-- Decor -->
  <img
    alt=""
    src="./images/decor/decor-15.png"
    class="absolute right-[2%] top-[15%] w-[54px] select-none" />
  <img
    alt=""
    src="./images/decor/decor-16.png"
    class="absolute bottom-[-100px] left-[16px] w-[140px] select-none" />

  <div class="e-container mt-[40px] pb-[180px] font-lato">
    <h2
      class="mx-auto max-w-[610px] text-center font-lexend text-[48px] font-medium leading-[120%] tracking-[-10px]">
      Tại sao nên triển khai
      <strong class="text-gradient font-medium">EDUVA&nbsp;</strong>
      trong trường học?
    </h2>
    <div class="mx-auto mt-12 flex max-w-[1200px] gap-8 md:flex-col">
      <div
        class="bg-custom-gradient flex-1 rounded-3xl border border-[#ffffff38] p-6 backdrop-blur-[10px]">
        <h3
          class="mt-2 text-center font-lexend text-2xl font-medium leading-[120%] tracking-[-5px]">
          Khác biệt với cách làm truyền thống
        </h3>
        <ul class="mt-4 list-inside list-disc pl-[10px] text-base leading-[2]">
          <li>Tạo video bài giảng từ giáo án</li>
          <li>Không cần phần mềm dựng phim</li>
          <li>Không yêu cầu kỹ năng kỹ thuật</li>
          <li>Tiết kiệm thời gian và công sức</li>
          <li>Chia sẻ bài học dễ dàng</li>
          <li>Chuẩn hóa nội dung toàn trường</li>
          <li>Hỗ trợ dạy trực tiếp & trực tuyến</li>
        </ul>
      </div>
      <div
        class="bg-custom-gradient flex-1 rounded-3xl border border-[#ffffff38] p-6 backdrop-blur-[10px]">
        <h3
          class="mt-2 text-center font-lexend text-2xl font-medium leading-[120%] tracking-[-5px]">
          Nền tảng mạnh mẽ & thân thiện
        </h3>
        <ul class="mt-4 list-inside list-disc pl-[10px] text-base leading-[2]">
          <li>Lưu trữ đám mây an toàn</li>
          <li>Giao diện đơn giản, dễ dùng</li>
          <li>Phân quyền rõ ràng từng vai trò</li>
          <li>Kiểm soát nội dung tập trung</li>
          <li>Xuất PDF, MP3, MP4 dễ dàng</li>
          <li>Hỗ trợ giọng đọc 3 miền</li>
          <li>Chạy tốt trên mọi thiết bị</li>
        </ul>
      </div>
      <div
        class="bg-custom-gradient flex-1 rounded-3xl border border-[#ffffff38] p-6 backdrop-blur-[10px]">
        <h3
          class="mt-2 text-center font-lexend text-2xl font-medium leading-[120%] tracking-[-5px]">
          Đội ngũ phát triển tâm huyết
        </h3>
        <ul class="mt-4 list-inside list-disc pl-[10px] text-base leading-[2]">
          <li>Phát triển riêng cho THPT</li>
          <li>Lắng nghe ý kiến giáo viên</li>
          <li>Hỗ trợ nhanh chóng, tận tâm</li>
          <li>Cập nhật theo nhu cầu thực tế</li>
          <li>Có hướng dẫn chi tiết dễ hiểu</li>
          <li>Bảo mật thông tin học sinh</li>
          <li>Đồng hành cùng chuyển đổi số</li>
        </ul>
      </div>
    </div>
  </div>
</div>
