@font-face {
  font-family: 'Lato';
  src: url('Lato-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Lato';
  src: url('Lato-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Lato';
  src: url('Lato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Lato';
  src: url('Lato-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Lato';
  src: url('Lato-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Lato';
  src: url('Lato-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Lato';
  src: url('Lato-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}
