<div class="relative mt-[250px] bg-[#191d1e] pb-[220px] text-white">
  <!-- Decor -->
  <img
    alt=""
    src="/images/decor/decor-13.png"
    class="absolute left-0 top-[100px] w-[814px]" />
  <div class="e-container">
    <section class="section mt-10 flex-col p-[64px] font-lato">
      <h2
        class="font-lexend text-[48px] font-medium leading-[120%] tracking-[-10px]">
        Tạo bài giảng bằng AI
      </h2>
      <p class="text-base">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum
        voluptates facilis doloribus molestias nesciunt voluptatibus eligendi
        error commodi possimus similique!
      </p>
      <video
        src="https://videos.pexels.com/video-files/29808850/12805493_2560_1440_25fps.mp4"
        class="relative aspect-video rounded-[20px] bg-white shadow-[0_12px_32px_#00000082]"
        playsinline
        autoplay
        loop></video>
    </section>
  </div>
</div>
