<div class="relative bg-[#191d1e] text-white">
  <!-- Decor -->
  <img
    alt=""
    src="./images/decor/decor-12.png"
    class="absolute left-0 top-[-180px] aspect-[1778/1972] w-[887px] select-none" />
  <img
    alt=""
    src="./images/decor/decor-6.png"
    class="absolute left-[46%] top-[-100px] w-[60px] select-none blur-[5px]" />
  <img
    alt=""
    src="./images/decor/decor-2.png"
    class="absolute right-[6%] top-[135px] w-[35px] select-none" />
  <img
    alt=""
    src="./images/decor/decor-2.png"
    class="absolute right-[30%] top-[280px] w-[35px] select-none" />

  <div class="e-container pb-[272px]">
    <section
      class="z-100 mx-auto flex max-w-[940px] items-center gap-5 px-2 font-lato md:flex-col-reverse md:gap-x-0">
      <div class="flex-1">
        <video
          preload="metadata"
          poster="./images/thumb-nail/thumb-nail-mobile.jpg"
          class="relative aspect-[1080/1860] max-w-[340px] rounded-[20px] bg-dark-300 shadow-[0_12px_32px_#00000082]"
          controls>
          <source
            src="https://videos.pexels.com/video-files/4716692/4716692-uhd_1440_2732_25fps.mp4" />
        </video>
      </div>
      <div class="max-w-[440px]">
        <h2
          class="font-lexend text-[48px] font-medium leading-[120%] tracking-[-10px]">
          Học mọi lúc, mọi nơi với
          <strong class="text-gradient font-medium">
            ứng dụng di động&nbsp;
          </strong>
        </h2>
        <p class="my-5 text-base leading-6">
          <strong class="text-gradient font-bold">EDUVA</strong> mang đến trải
          nghiệm học tập dễ dàng cho học sinh không có máy tính cá nhân. Chỉ cần
          một chiếc điện thoại thông minh, bạn đã có thể xem lại bài giảng, nghe
          audio, và luyện tập mọi lúc, mọi nơi.
        </p>
        <p class="my-5 text-base leading-6">
          Chỉ với chiếc điện thoại thông minh, giờ đây bạn có thể ôn lại kiến
          thức ở mọi lúc, mọi nơi.
        </p>
      </div>
    </section>
  </div>
</div>
