<div class="e-container relative pb-[190px] font-lato text-white">
  <h2
    class="mx-auto max-w-[610px] text-center font-lexend text-[48px] font-medium leading-[120%] tracking-[-10px]">
    Câu hỏi thường gặp
  </h2>
  <div class="mx-auto mt-10 max-w-[980px]">
    <h3
      class="mt-6 font-lexend text-2xl font-medium leading-[1.4] tracking-[-4px]">
      Đối tượng phù hợp
    </h3>
    <h4
      class="relative left-[-26px] ml-7 mt-6 flex items-center gap-2 font-lexend text-lg font-semibold leading-[1.4] tracking-[-3px]">
      <i class="pi pi-question-circle text-gradient pr-1 !text-xl"></i>
      Khóa học này có phù hợp với người hoàn toàn mới?
    </h4>
    <p class="ml-[30px] mt-2 text-base leading-[1.6]">
      Khóa học này hoàn toàn phù hợp với người mới, chưa có nền tảng vì được
      thiết kế bài bản, chú trọng đi từ căn bản nhất tới nâng cao. Luôn hướng
      tới mục tiêu cung cấp nguồn kiến thức và hướng dẫn chi tiết nhất có thể.
      Hỗ trợ học viên tận tình, tâm huyết. Từ đó, giúp bạn có động lực học và
      tiến xa hơn trong quá trình học tập.
    </p>
    <h4
      class="relative left-[-26px] ml-7 mt-6 flex items-center gap-2 font-lexend text-lg font-semibold leading-[1.4] tracking-[-3px]">
      <i class="pi pi-question-circle text-gradient pr-1 !text-xl"></i>
      Khóa học này có phù hợp với người hoàn toàn mới?
    </h4>
    <p class="ml-[30px] mt-2 text-base leading-[1.6]">
      Khóa học này hoàn toàn phù hợp với người mới, chưa có nền tảng vì được
      thiết kế bài bản, chú trọng đi từ căn bản nhất tới nâng cao. Luôn hướng
      tới mục tiêu cung cấp nguồn kiến thức và hướng dẫn chi tiết nhất có thể.
      Hỗ trợ học viên tận tình, tâm huyết. Từ đó, giúp bạn có động lực học và
      tiến xa hơn trong quá trình học tập.
    </p>

    <h3
      class="mt-6 font-lexend text-2xl font-medium leading-[1.4] tracking-[-4px]">
      Khóa học Pro & Free
    </h3>
    <h4
      class="relative left-[-26px] ml-7 mt-6 flex items-center gap-2 font-lexend text-lg font-semibold leading-[1.4] tracking-[-3px]">
      <i class="pi pi-question-circle text-gradient pr-1 !text-xl"></i>
      Khóa học Pro có gì khác khóa học Free
    </h4>
    <p class="ml-[30px] mt-2 text-base leading-[1.6]">
      Điểm khác biệt lớn nhất đó chính là chất lượng và số lượng nội dung. Bạn
      hãy tin đây là khóa học Pro đầy đủ và chi tiết nhất bạn từng thấy. Khóa
      học giúp bạn có nền móng cực vững chắc để trở thành nhà phát triển web
      chuyên nghiệp trong tương lai. Ngoài ra, các bạn sẽ được học trên nền tảng
      lập trình hoàn toàn mới - nền tảng học lập trình Pro. Chất lượng khóa học
      được nâng cao, từ hình ảnh, âm thanh, vv. Bài học đa dạng, gồm 7+ dạng bài
      học khác nhau, bài tập phong phú & đa dạng hơn, được làm dự án thực chiến,
      được trao đổi trực tiếp với Tester, được hỗ trợ trực tiếp từ đội ngũ kỹ
      thuật của F8 và rất nhiều quyền lợi khác.
    </p>

    <h4
      class="relative left-[-26px] ml-7 mt-6 flex items-center gap-2 font-lexend text-lg font-semibold leading-[1.4] tracking-[-3px]">
      <i class="pi pi-question-circle text-gradient pr-1 !text-xl"></i>
      Khóa Free có bị khóa không?
    </h4>
    <p class="ml-[30px] mt-2 text-base leading-[1.6]">
      Mở bán khóa Pro, nhưng khóa Free sẽ không bị khóa, luôn được mở và cập
      nhật thêm kiến thức nên các bạn yên tâm học nhé.
    </p>

    <h3
      class="mt-6 font-lexend text-2xl font-medium leading-[1.4] tracking-[-4px]">
      Quyền lợi
    </h3>
    <h4
      class="relative left-[-26px] ml-7 mt-6 flex items-center gap-2 font-lexend text-lg font-semibold leading-[1.4] tracking-[-3px]">
      <i class="pi pi-question-circle text-gradient pr-1 !text-xl"></i>
      Tôi có thể xem video bao nhiêu lần?
    </h4>
    <p class="ml-[30px] mt-2 text-base leading-[1.6]">
      Với những video đã học qua, bạn có thể thỏa thích xem lại bất cứ video nào
      mà bạn muốn, không giới hạn số lần xem video. F8 thậm chí còn khuyến khích
      bạn xem càng nhiều càng tốt để có thể nắm vững kiến thức hơn bạn nhé.
    </p>

    <h4
      class="relative left-[-26px] ml-7 mt-6 flex items-center gap-2 font-lexend text-lg font-semibold leading-[1.4] tracking-[-3px]">
      <i class="pi pi-question-circle text-gradient pr-1 !text-xl"></i>
      Tôi có thể học vào thời gian nào?
    </h4>
    <p class="ml-[30px] mt-2 text-base leading-[1.6]">
      Bài giảng đã được thiết kế sẵn, nội dung chi tiết và đầy đủ. Chỉ cần có
      Internet, bạn có thể học bất kỳ lúc nào, bất kỳ nơi đâu. Bạn luôn có thể
      chủ động thời gian và địa điểm mà không cần lo lắng gì.
    </p>
  </div>
</div>
