<div class="mt-10 flex justify-center">
  <video
    preload="metadata"
    poster="./images/thumb-nail/thumb-nail.png"
    class="relative z-10 aspect-video rounded-lg"
    style="width: min(715px, 100%)"
    controls>
    <source
      src="https://egverimjijiaqduqcfur.supabase.co/storage/v1/object/public/landing-video/ratio_pc.mp4" />
  </video>
</div>

<section
  class="section !md:backdrop-filter-none border-none font-lato md:bg-transparent">
  <div class="relative z-10 max-w-[454px] lg:max-w-[351px] md:max-w-[454px]">
    <h2
      class="font-lexend text-[42px] font-medium leading-[130%] tracking-[-4px] sm:text-center">
      Hệ thống này dành cho ai?
    </h2>
    <img
      alt=""
      src="/images/feature-1.png"
      class="mb-[-340px] mt-[46px] w-[95%] select-none lg:mt-[80px] md:mb-[-30px]" />
  </div>

  <div class="relative z-10 flex flex-[2] shrink-0 flex-col gap-10">
    <div class="flex items-center gap-4">
      <div class="feature-icon">1</div>
      <p class="text-base leading-[150%]">
        <strong class="text-lg font-extrabold">Trường học</strong>
        <br />
        Muốn triển khai nền tảng giảng dạy số cho toàn trường một cách bài bản,
        dễ quản lý và tiết kiệm chi phí đào tạo kỹ thuật.
      </p>
    </div>
    <div class="flex items-center gap-4">
      <div class="feature-icon">2</div>
      <p class="text-base leading-[150%]">
        <strong class="text-lg font-extrabold">Giáo viên</strong>
        <br />
        Cần tạo bài giảng đa phương tiện (video/audio) mà không có kỹ năng dựng
        phim hay thiết bị hỗ trợ.
      </p>
    </div>
    <div class="flex items-center gap-4">
      <div class="feature-icon">3</div>
      <p class="text-base leading-[150%]">
        <strong class="text-lg font-extrabold">Học sinh</strong>
        <br />
        Muốn xem lại bài học thông qua các bài giảng sinh động, dễ hiểu - học
        mọi lúc, mọi nơi sau giờ lên lớp.
      </p>
    </div>
  </div>
</section>
