<section class="mt-[45px] text-center font-lato">
  <h2
    class="mx-auto max-w-[928px] text-[48px] font-medium leading-[120%] sm:text-[46px]"
    style="font-family: Lexend, sans-serif">
    Nền tảng
    <strong class="text-gradient font-medium">giảng dạy số</strong> dành cho nhà
    trường hiện đại
  </h2>
  <p class="mx-auto mt-4 max-w-[430px] text-base leading-[150%]">
    Hỗ trợ giáo viên
    <strong class="text-gradient font-bold">tạo bài giảng</strong> tự động từ
    nội dung soạn thảo, giúp quản trị viên dễ dàng
    <strong class="text-gradient font-bold">quản lý tài liệu học tập</strong>
  </p>
  <div #btnGroup class="mt-5 flex justify-center gap-4 sm:flex-col">
    <button class="button button-primary" (click)="navigateToComingSoon()">
      Dùng thử miễn phí
    </button>
    <button class="button button-secondary">
      <div
        class="text-gradient block leading-[150%]"
        (click)="openSignUpModal()">
        Đăng ký ngay
      </div>
    </button>
  </div>
</section>
