<div class="bg-[#191d1e]">
  <div
    class="relative min-h-screen overflow-hidden bg-[#191d1e] pb-[200px] pt-[30px] font-lato text-[48px] font-medium text-white">
    <div class="e-container relative z-10">
      <!-- Header -->
      <header>
        <app-logo />
      </header>

      <!-- Hero -->
      <app-hero />

      <!-- Feature -->
      <app-feature />

      <!-- Benefits -->
      <app-benefits />
    </div>
    <!-- Decoration -->
    <img
      src="./images/decor/decor-1.png"
      class="absolute left-0 top-0 aspect-[635/666] w-[635px]" />
    <img
      src="./images/decor/decor-2.png"
      class="absolute left-1/2 top-[50px] aspect-[1] w-[46px]" />
    <img
      src="./images/decor/decor-3.png"
      class="absolute right-0 top-0 aspect-[1] w-[380px]" />
    <img
      src="./images/decor/decor-2.png"
      class="absolute right-[20%] top-[300px] aspect-[1] w-[14px] opacity-80" />
    <img
      src="./images/decor/decor-2.png"
      class="absolute right-[16%] top-[480px] aspect-[1] w-[14px] opacity-80" />
    <img
      src="./images/decor/decor-6.png"
      class="absolute right-[25%] top-[390px] aspect-[1] w-[19px] opacity-80" />
    <img
      src="./images/decor/decor-7.png"
      class="absolute left-0 top-[520px] aspect-[676/843] w-[328px]" />
    <img
      src="./images/decor/decor-8.png"
      class="absolute left-[15%] top-[900px] aspect-[1] w-[350px]" />
    <img
      src="./images/decor/decor-8.png"
      class="absolute right-[17%] top-[690px] aspect-[1] w-[215px]" />
  </div>

  <!-- Mobile Introduce -->
  <app-mobile-intro />

  <!-- Video Introduce -->
  <app-video-intro />

  <!-- Difference -->
  <app-difference />

  <!-- FAQ -->
  <app-faq />

  <!-- Contact Us-->
  <app-contact />

  <app-fixed-bar />

  <app-global-modal-host />
</div>
