<section class="mt-[45px] text-center font-lato">
  <h1
    class="mx-auto max-w-[928px] text-[48px] font-medium leading-[120%] sm:text-[46px]"
    style="font-family: Lexend, sans-serif">
    Cách dễ nhất để học <span class="text-gradient">JavaScript</span> cho người
    mới bắt đầu!
  </h1>
  <p class="mx-auto mt-4 max-w-[426px] text-base leading-[150%]">
    Xây dựng <span class="text-gradient">dự án thực tế</span> từ cơ bản tới
    chuyên sâu, có sẵn <span class="text-gradient">200+</span> bài tập, được
    thiết kế và hướng dẫn bởi
    <span class="text-gradient">Sơn Đặng</span>
  </p>
  <div #btnGroup class="mt-5 flex justify-center gap-4 sm:flex-col">
    <button class="button button-primary">Học thử miễn phí</button>
    <button class="button button-secondary">
      <span
        class="text-gradient block leading-[150%]"
        (click)="openSignUpModal()"
        >Đăng Ký Ngay</span
      >
    </button>
  </div>
</section>
