<div class="mt-10 flex justify-center">
  <video
    class="relative z-10 aspect-video rounded-lg"
    style="width: min(715px, 100%)"
    controls
    preload
    playsinline
    src="https://videos.pexels.com/video-files/29808850/12805493_2560_1440_25fps.mp4"></video>
</div>

<section
  class="font-lato section !md:backdrop-filter-none border-none md:bg-transparent">
  <div class="relative z-10 max-w-[454px] lg:max-w-[351px] md:max-w-[454px]">
    <h2
      class="font-lexend text-[42px] font-medium leading-[130%] tracking-[-4px] sm:text-center">
      Khoá học này dành cho ai?
    </h2>
    <img
      src="/images/feature-1.png"
      class="mb-[-340px] mt-[46px] w-[95%] lg:mt-[80px] md:mb-[-30px]" />
  </div>

  <div class="relative z-10 flex flex-[2] shrink-0 flex-col gap-10">
    <div class="flex items-center gap-4">
      <div class="feature-icon">1</div>
      <p class="text-base leading-[150%]">
        <strong class="text-lg font-extrabold">Sinh Viên IT</strong>
        <br />
        Bạn muốn học các kiến thức thực tế ở trường không dạy? Bạn muốn có kiến
        thức vững chắc để năm sau đi thực tập tại doanh nghiệp?
      </p>
    </div>
    <div class="flex items-center gap-4">
      <div class="feature-icon">1</div>
      <p class="text-base leading-[150%]">
        <strong class="text-lg font-extrabold">Sinh Viên IT</strong>
        <br />
        Bạn muốn học các kiến thức thực tế ở trường không dạy? Bạn muốn có kiến
        thức vững chắc để năm sau đi thực tập tại doanh nghiệp?
      </p>
    </div>
    <div class="flex items-center gap-4">
      <div class="feature-icon">1</div>
      <p class="text-base leading-[150%]">
        <strong class="text-lg font-extrabold">Sinh Viên IT</strong>
        <br />
        Bạn muốn học các kiến thức thực tế ở trường không dạy? Bạn muốn có kiến
        thức vững chắc để năm sau đi thực tập tại doanh nghiệp?
      </p>
    </div>
  </div>
</section>
