<section class="mt-[122px] font-lato">
  <h2
    class="mx-auto max-w-[441px] text-center font-lexend text-[48px] font-medium leading-[120%] tracking-[-10px]">
    Bạn sẽ học được những gì?
  </h2>
  <div
    class="e-row e-row-cols-4 e-row-cols-lg-2 e-row-cols-md-1 mt-[54px] mx-auto max-w-[1326px]">
    <ul class="e-col text-center">
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
    </ul>
    <ul class="e-col text-center">
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
    </ul>
    <ul class="e-col text-center">
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
    </ul>
    <ul class="e-col text-center">
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
      <li class="list-item px-4 py-2 text-base leading-6">
        <span class="relative">Biến (var, let, const)</span>
      </li>
    </ul>
  </div>
</section>
