<div class="relative bg-[#191d1e] text-white">
  <!-- Decor -->

  <div class="e-container relative z-10 pb-[200px]">
    <img
      alt=""
      src="./images/decor/decor-16.png"
      class="absolute bottom-[0] left-[55%] w-[200px] select-none blur-[5px]" />
    <img />
    <section
      class="section relative z-20 mx-auto my-auto max-w-[1200px] px-[72px] py-[80px]">
      <div>
        <h2
          class="mb-11 max-w-[480px] font-lexend text-[48px] font-medium leading-[120%] tracking-[-10px]">
          Đăng ký tư vấn hỗ trợ kỹ thuật hoàn toàn miễn phí!
        </h2>
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSeQOrLn8S8E1UiUT5uOjOi95Eu_A-WXskRS336-2fuDEUz8xw/viewform"
          target="_blank"
          rel="noopener"
          class="button button-primary">
          NHẬN TƯ VẤN MIỄN PHÍ
        </a>
      </div>
      <img
        class="absolute right-[-30px] top-4 h-[calc(100%-12px)] select-none md:hidden"
        src="/images/contact.png"
        alt="" />
    </section>
  </div>
</div>
